.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__group
        = @group.name
      .main-chat__group-info__left-box__member
        Member: 
        - @group.users.each do |user|
          = user.name
    .main-chat__group-info__right-box
      = link_to edit_group_path(@group.id) do
        Edit
  .main-chat__message
    = render @messages
  .main-chat__form
    = form_for [@group, @message] do |f|
      .main-chat__form__flame__body
        = f.text_field :content, class: 'flame__body', placeholder: 'type a message'
        .main-chat__form__flame__body__img
          = f.label :image, class: 'main-chat__form__flame__body__img__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'main-chat__form__flame__btn'
